{% extends 'myapp/base.html' %}

{% block title %}メンバー管理{% endblock %}


{% block content %}
<form action="" method="GET">
{{form}}
<button type="submit">検索</button>
</form>
<!-- <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th>ID</th>
        <th>氏名</th>
        <th>ニックネーム</th>
        <th>メール</th>
        <th>サークル</th>
        <th>登録日時</th>
      </tr>
    </thead>
    <tbody>
    {% for member in member_list %}
      <tr>
        <th scope="row">{{member.pk}}</th>
        <td>{{member.name}}</td>
        <td>{{member.nickname}}</td>
        <td>{{member.email}}</td>
        <td>{% for circle in member.circle.all %}{{circle}} {% endfor %}</td>
        <td>{{member.created_at}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table> -->

  
  <div class="container">
    <div class="row">
    {% for member in member_list %}
      <div class="col-md-3 float-lg-none">
        <div class="card mt-5">
            <div class="card-body">
              <p class="card-text">{{ member.nickname }}</p>
            </div>
            <img src="myapp/images/default_image.png" alt="Card image">
            <div class="card-body">
              <p class="card-text">{{ member.name }} </p>
            </div>
          </div>
      </div>
　  {% endfor %}
    </div>
  </div>
  


{% endblock %}